 {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #666;
    text-align: center;
    /*font-size: 1rem;*/
}

button {
    position: fixed;
    right:5%;
    bottom: 5%;
}

.container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    /*bottom: 5%;*/
    /*height: 4rem;*/
    /*border: 2px solid seashell;*/
    /*overflow: hidden;*/
}

.container ul {
    list-style: none;
    transition: 0.6s;

    transform: translateY(-1rem);

    /*border: 2px solid seashell;*/
}

.container li {
    /*border: 2px solid seashell;*/
    transition: 0.6s;
    /*transform: scale(1.2);*/
    /*color: aliceblue;*/
    /*height: 30px;*/
    line-height: 30px;
}
.container li.active {
    /*border: 2px solid seashell;*/
    transition: 0.6s;
    transform: scale(1.5);
    color: aliceblue;
    height: 30px;
    line-height: 30px;
}

